# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# 环境
.env
.venv/
venv/

# 数据库 & 向量库
storage/database/*.db
storage/vector_store/

# 日志
logs/
*.log

# IDE
.idea/
.vscode/
*.iml

# 模型缓存
.cache/
